/* DESIGN FLEX */

* {
  box-sizing: border-box; 
}
#app {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}
.menu-lateral {
  background: #D7E8D4;
  flex: 1;
}
.caixa-2 {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.conteudo {
  display: flex;
  flex-direction: row;
}
.conteudo > .conteudo2 {
  flex: 4;
  min-height: 60vh;
}
footer, .header-style {
  background: #1A194C;
  height: 10vh;
}
footer, .header-style, .conteudo2, nav {
  padding: 1em;
}

/* DESIGN TABLES */

table, td, th {
  border: 1px solid #02012C;
}

/* GENERAL STYLES */

.title-header {
  color: #D7E8D4;
}
footer {
  color: #D7E8D4;
}